In [1]:
import pandas as pd

In [2]:
# importing data

df_round = pd.read_csv(r'C:\Users\CharlesYi\Jupyter Notebook\Alteryx Challenges\Challenge 394_Fantasy Football\round.csv')

df_round.head()

  Draft Round
0     Round 1
1     Round 2
2     Round 3
3     Round 4
4     Round 5

In [3]:
df_players = pd.read_csv(r'C:\Users\CharlesYi\Jupyter Notebook\Alteryx Challenges\Challenge 394_Fantasy Football\player.csv')

df_players.head()

   RK              PLAYER NAME  POS
0   1    Justin Jefferson(MIN)  WR1
1   2       Ja'Marr Chase(CIN)  WR2
2   3  Christian McCaffrey(SF)  RB1
3   4         Cooper Kupp(LAR)  WR3
4   5         Tyreek Hill(MIA)  WR4

In [23]:
# setting scaffold initiate 

# importing regex

import re

def round_start (x):
    
    if re.search(r'1|3|5', x) : 
        return 6
    else:
        return 1
        
    return beginning

df_round['start'] = df_round['Draft Round'].apply(round_start)

df_round.head()

  Draft Round  start
0     Round 1      6
1     Round 2      1
2     Round 3      6
3     Round 4      1
4     Round 5      6

In [26]:
# setting scaffold end

def round_end (x):
        
    if x== 6:
        return 1
    else:
        return 6

df_round['end'] = df_round['start'].apply(round_end)

df_round.head()

  Draft Round  start  end
0     Round 1      6    1
1     Round 2      1    6
2     Round 3      6    1
3     Round 4      1    6
4     Round 5      6    1

In [112]:
# scaffolding based on start and end for each row

scaffold = []

for index, row in df_round.iterrows():
    
    draft_round = row['Draft Round']
    init = row['start']
    end = row['end']
    round_val = init
    
    if init == 6:
    
        while round_val >= end:
            
            row['round'] = round
            scaffold.append([init, end, round_val, draft_round])
            round_val -= 1
            
    else:
        
        while round_val <= end:
            
            row['round'] = round
            scaffold.append([init, end, round_val, draft_round])
            round_val += 1

In [113]:
scaffold

[[6, 1, 6, 'Round 1'],
 [6, 1, 5, 'Round 1'],
 [6, 1, 4, 'Round 1'],
 [6, 1, 3, 'Round 1'],
 [6, 1, 2, 'Round 1'],
 [6, 1, 1, 'Round 1'],
 [1, 6, 1, 'Round 2'],
 [1, 6, 2, 'Round 2'],
 [1, 6, 3, 'Round 2'],
 [1, 6, 4, 'Round 2'],
 [1, 6, 5, 'Round 2'],
 [1, 6, 6, 'Round 2'],
 [6, 1, 6, 'Round 3'],
 [6, 1, 5, 'Round 3'],
 [6, 1, 4, 'Round 3'],
 [6, 1, 3, 'Round 3'],
 [6, 1, 2, 'Round 3'],
 [6, 1, 1, 'Round 3'],
 [1, 6, 1, 'Round 4'],
 [1, 6, 2, 'Round 4'],
 [1, 6, 3, 'Round 4'],
 [1, 6, 4, 'Round 4'],
 [1, 6, 5, 'Round 4'],
 [1, 6, 6, 'Round 4'],
 [6, 1, 6, 'Round 5'],
 [6, 1, 5, 'Round 5'],
 [6, 1, 4, 'Round 5'],
 [6, 1, 3, 'Round 5'],
 [6, 1, 2, 'Round 5'],
 [6, 1, 1, 'Round 5']]

In [114]:
# converting scaffold in dataframe

df_scaffold = pd.DataFrame(scaffold, columns = ['start', 'end', 'team', 'draft_round'])

df_scaffold.head(10)

   start  end  team draft_round
0      6    1     6     Round 1
1      6    1     5     Round 1
2      6    1     4     Round 1
3      6    1     3     Round 1
4      6    1     2     Round 1
5      6    1     1     Round 1
6      1    6     1     Round 2
7      1    6     2     Round 2
8      1    6     3     Round 2
9      1    6     4     Round 2

In [115]:
# adding sequence to df scaffold

df_scaffold['sequence'] = range(1, len(df_scaffold) + 1)

df_scaffold.head(10)

   start  end  team draft_round  sequence
0      6    1     6     Round 1         1
1      6    1     5     Round 1         2
2      6    1     4     Round 1         3
3      6    1     3     Round 1         4
4      6    1     2     Round 1         5
5      6    1     1     Round 1         6
6      1    6     1     Round 2         7
7      1    6     2     Round 2         8
8      1    6     3     Round 2         9
9      1    6     4     Round 2        10

In [116]:
# filtering out players with DST role

players_filtered = df_players[~df_players['POS'].str.contains('DST')]

players_filtered.head()

   RK              PLAYER NAME  POS
0   1    Justin Jefferson(MIN)  WR1
1   2       Ja'Marr Chase(CIN)  WR2
2   3  Christian McCaffrey(SF)  RB1
3   4         Cooper Kupp(LAR)  WR3
4   5         Tyreek Hill(MIA)  WR4

In [117]:
# parsing position without number

players_filtered['position'] = players_filtered['POS'].apply(lambda x: pd.Series(re.split(r'\d+', x)))[[0]]

players_filtered.head()

C:\Users\CharlesYi\AppData\Local\Temp\ipykernel_2932\1652997311.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_filtered['position'] = players_filtered['POS'].apply(lambda x: pd.Series(re.split(r'\d+', x)))[[0]]

   RK              PLAYER NAME  POS position
0   1    Justin Jefferson(MIN)  WR1       WR
1   2       Ja'Marr Chase(CIN)  WR2       WR
2   3  Christian McCaffrey(SF)  RB1       RB
3   4         Cooper Kupp(LAR)  WR3       WR
4   5         Tyreek Hill(MIA)  WR4       WR

In [118]:
# sort by position desc and RK asc

players_sorted = players_filtered.sort_values(by = ['position', 'RK'], ascending = [False, True])

players_sorted.head()

   RK            PLAYER NAME  POS position
0   1  Justin Jefferson(MIN)  WR1       WR
1   2     Ja'Marr Chase(CIN)  WR2       WR
3   4       Cooper Kupp(LAR)  WR3       WR
4   5       Tyreek Hill(MIA)  WR4       WR
7   8      Stefon Diggs(BUF)  WR5       WR

In [119]:
# adding record id

players_sorted['id'] = players_sorted.groupby('position').cumcount() + 1

players_sorted.head()

   RK            PLAYER NAME  POS position  id
0   1  Justin Jefferson(MIN)  WR1       WR   1
1   2     Ja'Marr Chase(CIN)  WR2       WR   2
3   4       Cooper Kupp(LAR)  WR3       WR   3
4   5       Tyreek Hill(MIA)  WR4       WR   4
7   8      Stefon Diggs(BUF)  WR5       WR   5

In [120]:
# filtering to id <= 6

players_id = players_sorted[players_sorted['id'] <=6]

players_id.head(10)

    RK            PLAYER NAME  POS position  id
0    1  Justin Jefferson(MIN)  WR1       WR   1
1    2     Ja'Marr Chase(CIN)  WR2       WR   2
3    4       Cooper Kupp(LAR)  WR3       WR   3
4    5       Tyreek Hill(MIA)  WR4       WR   4
7    8      Stefon Diggs(BUF)  WR5       WR   5
8    9       CeeDee Lamb(DAL)  WR6       WR   6
5    6       Travis Kelce(KC)  TE1       TE   1
29  30      Mark Andrews(BAL)  TE2       TE   2
51  52    T.J. Hockenson(MIN)  TE3       TE   3
56  57     Darren Waller(NYG)  TE4       TE   4

In [121]:
# adding sequence

players_id['sequence'] = range(1, len(players_id) + 1)

players_id.head()

C:\Users\CharlesYi\AppData\Local\Temp\ipykernel_2932\706828551.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  players_id['sequence'] = range(1, len(players_id) + 1)

   RK            PLAYER NAME  POS position  id  sequence
0   1  Justin Jefferson(MIN)  WR1       WR   1         1
1   2     Ja'Marr Chase(CIN)  WR2       WR   2         2
3   4       Cooper Kupp(LAR)  WR3       WR   3         3
4   5       Tyreek Hill(MIA)  WR4       WR   4         4
7   8      Stefon Diggs(BUF)  WR5       WR   5         5

In [122]:
# joining df scaffold with players_id

df_merge = pd.merge(players_id, df_scaffold, on = 'sequence')

df_merge.head()

,RK,PLAYER NAME,POS,position,id,sequence,start,end,team,draft_round
0,1,Justin Jefferson(MIN),WR1,WR,1,1,6,1,6,Round 1
1,2,Ja'Marr Chase(CIN),WR2,WR,2,2,6,1,5,Round 1
2,4,Cooper Kupp(LAR),WR3,WR,3,3,6,1,4,Round 1
3,5,Tyreek Hill(MIA),WR4,WR,4,4,6,1,3,Round 1
4,8,Stefon Diggs(BUF),WR5,WR,5,5,6,1,2,Round 1

In [123]:
# parsing player name

df_merge['name'] = df_merge['PLAYER NAME'].apply(lambda x: pd.Series(re.findall(r'(.+?)\(', x)))

df_merge.head(10)

,RK,PLAYER NAME,POS,position,id,sequence,start,end,team,draft_round,name
0,1,Justin Jefferson(MIN),WR1,WR,1,1,6,1,6,Round 1,Justin Jefferson
1,2,Ja'Marr Chase(CIN),WR2,WR,2,2,6,1,5,Round 1,Ja'Marr Chase
2,4,Cooper Kupp(LAR),WR3,WR,3,3,6,1,4,Round 1,Cooper Kupp
3,5,Tyreek Hill(MIA),WR4,WR,4,4,6,1,3,Round 1,Tyreek Hill
4,8,Stefon Diggs(BUF),WR5,WR,5,5,6,1,2,Round 1,Stefon Diggs
5,9,CeeDee Lamb(DAL),WR6,WR,6,6,6,1,1,Round 1,CeeDee Lamb
6,6,Travis Kelce(KC),TE1,TE,1,7,1,6,1,Round 2,Travis Kelce
7,30,Mark Andrews(BAL),TE2,TE,2,8,1,6,2,Round 2,Mark Andrews
8,52,T.J. Hockenson(MIN),TE3,TE,3,9,1,6,3,Round 2,T.J. Hockenson
9,57,Darren Waller(NYG),TE4,TE,4,10,1,6,4,Round 2,Darren Waller

In [127]:
# organizing 

df_merge[['draft_round', 'team', 'RK', 'name', 'POS']].sort_values(by = ['draft_round', 'team', 'RK'], ascending = True)

   draft_round  team   RK                 name  POS
5      Round 1     1    9          CeeDee Lamb  WR6
4      Round 1     2    8         Stefon Diggs  WR5
3      Round 1     3    5          Tyreek Hill  WR4
2      Round 1     4    4          Cooper Kupp  WR3
1      Round 1     5    2        Ja'Marr Chase  WR2
0      Round 1     6    1     Justin Jefferson  WR1
6      Round 2     1    6         Travis Kelce  TE1
7      Round 2     2   30         Mark Andrews  TE2
8      Round 2     3   52       T.J. Hockenson  TE3
9      Round 2     4   57        Darren Waller  TE4
10     Round 2     5   71        George Kittle  TE5
11     Round 2     6   74       Dallas Goedert  TE6
17     Round 3     1   17           Nick Chubb  RB6
16     Round 3     2   16         Tony Pollard  RB5
15     Round 3     3   15       Bijan Robinson  RB4
14     Round 3     4   11       Saquon Barkley  RB3
13     Round 3     5    7        Austin Ekeler  RB2
12     Round 3     6    3  Christian McCaffrey  RB1
18     Round 4     1   24   Patrick Mahomes II  QB1
19     Round 4     2   26           Josh Allen  QB2
20     Round 4     3   27          Jalen Hurts  QB3
21     Round 4     4   38        Lamar Jackson  QB4
22     Round 4     5   44           Joe Burrow  QB5
23     Round 4     6   49        Justin Fields  QB6
29     Round 5     1  218         Younghoe Koo   K6
28     Round 5     2  200       Daniel Carlson   K5
27     Round 5     3  195       Evan McPherson   K4
26     Round 5     4  193      Harrison Butker   K3
25     Round 5     5  186           Tyler Bass   K2
24     Round 5     6  176        Justin Tucker   K1